body {
  margin:0;
  font-family: Arial;
  background:#000;
  color:#fff;
  text-align:center;
}

.screen {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.hidden { display:none; }

button {
  padding:14px 28px;
  background:#00eaff;
  border:none;
  border-radius:8px;
  font-size:16px;
  margin-top:10px;
}

select, input {
  padding:10px;
  margin:8px;
  width:70%;
}

video {
  width:100%;
  height:100%;
  object-fit:cover;
}

.scan-line {
  position:absolute;
  top:0;
  width:100%;
  height:3px;
  background:#00eaff;
  animation:scan 2s linear infinite;
}

@keyframes scan {
  from { top:0; }
  to { top:100%; }
}
